SESSION_COOKIE_KEY=your_session_cookie_key
SALT_SHA_256_HASHING=your_salt_hash
NODE_ENV=development

MAILJET_API_KEY=your_mailjet_api_key
MAILJET_API_SECRET=your_mailjet_api_secret
MAILJET_SENDER_EMAIL=contact@securaised.net
FRONTEND_URL=http://localhost:3000

MONGODB_ATLAS_USERNAME=your_mongodb_username
MONGODB_ATLAS_PASSWORD=your_mongodb_password
MONGODB_ATLAS_CLUSTER_URL=your_cluster_url
MONGODB_ATLAS_DB_NAME=PasswordKeeperDB
MONGODB_ATLAS_APP_NAME=Cluster0

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
REDIRECT_URI=http://localhost:3000/api/auth/callback/google

NEXT_PUBLIC_DOMAIN_URL=securaised.net
NEXT_PUBLIC_BASE_URL=https://www.securaised.net/
AES_TEMPORARY_CONTENT_DEFAULT_KEY=your_default_key
